#login, #loggedin {
  display: none;
  font-family: 'Montserrat', sans-serif;
}

#login-header {
  text-align: center;
}

.head-icon {
  text-align: center;
}

#header {
  background-color: #6ae368;
  color: white;
  text-align: center;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}